Python >=3.9.5
numpy >=1.26.4
sys >=3.9.5
pandas >=1.5.0
concurrent.futures >=3.9.5
pybedtools >=0.8.2
subprocess >=3.9.5
sklearn >=1.1.2
matplotlib >=3.6.21
gc >=3.9.5
time >=3.9.5
pyBigWig >=0.3.18
regtools >=1.0.0